body{
    font-family: sans-serif;
    background: linear-gradient( rgba( 60, 60, 60, 0.4), rgba(230, 228, 100, 0.4));
    margin: 20px auto;
    color:black;
    height: 100vh;
    width: 100%;
}

h1::first-letter{
    color: red;
}

h1, h2{
    text-align: center;
    color: black;
}

fieldset{
    border:none;
    border-bottom: 2px solid #dd2222;
    backdrop-filter: blur(10px);
    background-color: rgba(250, 250, 250, 0.5);
    
}

form{
    width: 50vh;
    margin: 0 auto;
    margin-top: 10px;
    min-width:300px;
    max-width:500px;
    padding-bottom:2em;
    
}

label{
    display: block;
    margin: 10px 0 0 0;
}

input{
    min-height:2em;
    margin: 10px 0 0 0;
    width:100%;
    background-color:rgba(250, 250, 250, 0.8);
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid #dd2222;
}

.reme{
    display: flex;
    align-items: center;
    margin: 0 0.5rem 0 0;
    padding: 0;
    width: unset;
}
#me{
width: unset;
margin-right: 3px;
}

#label{
    display: flex;
    justify-content: space-between;
}
a{
    text-decoration: none;
    color: #000;
}
button{
    background-color: #dd2222;
    border-color: #dd2222;
    border-top: white;
    cursor: pointer;
}